@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200;700;800;900&family=Roboto+Slab:wght@200;500;700;800;900&display=swap');
body{
    background-color: #C8E1E6;   
}

.logo{
    color: #007476;
}

.itens{
    color: #007476;
}


.image{
    padding-top: 20px;
    width: 118rem;
}

.etapas{
    background-color: #007476;
}

.etapas h1{
    font-family: inter;
    text-align: center;
    color: #eee;
    font-size: 2.5rem;
}

.conteudo-etapas{
    font-family: inter;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    color:#eee;
    border-top: 4px solid #eee;
    border-bottom: 4px solid #eee;
}

.conteudo-etapas .icone{
    padding-top: 40px;
}

.serviços{
    padding-top: 50px;
    padding-bottom: 150px;
    background-color: #C8E1E6;
}

.serviços .titulo{
    font-family: inter;
    font-size: 2.5rem;
}

.serviços .subtitulo{
    font-family: inter;
    font-size: 1.3rem;
}


.card{
    position: relative;
    color: rgb(0, 0, 0);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.card::after,.card::before{
    content: "";
    position:absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: transform .3s ease-in-out;
}

.card::before{
    border-left: 1px solid #007476;
    border-right: 1px solid #007476;
    transform: scaleY(0);
}

.card::after{
    border-top: 1px solid #007476;
    border-bottom: 1px solid #007476;
    transform: scaleX(0);
}

.card:hover::before{
    transform: scaleY(1);

}

.card:hover::after{
    transform: scaleX(1);
}

.card:hover{
    color: #007476;
    box-shadow: none;
    transition-duration: 2s;
}
